openchrom/plugins/net.openchrom.thirdpartylibraries.commons-math/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.dbunit/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.derby/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.easymock/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.eclipselink/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.findbugs/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.itext/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.javabase64/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.jpa/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.junitaddons/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.junitperf/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.log4j/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.netcdf/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.proteomecommons/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.swtchart/bin/*
openchrom/updateSites/net.openchrom.thirdpartylibraries.updateSite/artifacts.jar
openchrom/updateSites/net.openchrom.thirdpartylibraries.updateSite/content.jar
openchrom/updateSites/net.openchrom.thirdpartylibraries.updateSite/features/
openchrom/updateSites/net.openchrom.thirdpartylibraries.updateSite/plugins/
openchrom/plugins/net.openchrom.thirdpartylibraries.commons-cli/bin/*
openchrom/plugins/net.openchrom.thirdpartylibraries.apache.commons.cli/bin/
openchrom/plugins/net.openchrom.thirdpartylibraries.apache.commons.math/bin/
openchrom/plugins/net.openchrom.thirdpartylibraries.apache.commons.poi/bin/
openchrom/plugins/net.openchrom.thirdpartylibraries.apache.geronimo.stax/bin/
openchrom/plugins/net.openchrom.thirdpartylibraries.apache.xmlbeans/bin/
openchrom/plugins/net.openchrom.thirdpartylibraries.dom4j/bin/
openchrom/plugins/net.openchrom.thirdpartylibraries.supercsv/bin/
openchrom/plugins/net.openchrom.thirdpartylibraries.apache.xercesj/bin/
openchrom/plugins/net.openchrom.thirdpartylibraries.odfdom/bin/
openchrom/plugins/net.openchrom.thirdpartylibraries.pdfjet/bin/
openchrom/plugins/net.openchrom.thirdpartylibraries.orientdb/bin/
